- if APP_CONFIG.facebook_enabled
  .facebook_button
    #fb-root
    :javascript
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));    .fb-like{"data-href" => @post.full_permalink_url, "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "107"}