<% unless @all_tags.empty? %>
  <div class='tags'>
    <h3>All tags</h3>
    <ul>
      <% @all_tags.each do |tag| %>
        <% unless tag == @tag %>
          <li><%= link_to tag.label, tag.permalink_url %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>