<div id='markdown-syntax'>
  <h1>Markdown syntax</h1>
  
  <h2>Headers</h2>
  <ul>
    <li># header</li>
    <li>## header</li>
    <li>### header</li>
    <li>#### header</li>
    <li>##### header</li>
    <li>###### header</li>
  </ul>

  <h2>Text style</h2>
  <ul>
    <li>**bold**</li>
    <li>_italics_</li>
  </ul>

  <h2>Bullets and lists</h2>
  <ul>
    <li>- bullet</li>
    <li>- bullet</li>
  </ul>
  <ul>
    <li>1. numbered item</li>
    <li>1. numbered item</li>
  </ul>

  <h2>Hyperlinks</h2>
  <ul>
    <li>[example link](http://example.com/)</li>
    <li>[example link](http://example.com/ "With a Title")</li>
  </ul>
  <ul>
    <li>I get 10 times more traffic from [Google][1] than from</li>
    <li>[Yahoo][2] or [MSN][3].</li>
  </ul>
  <ul>
    <li>[1]: http://google.com/ "Google"</li>
    <li>[2]: http://search.yahoo.com/ "Yahoo Search"</li>
    <li>[3]: http://search.msn.com/ "MSN Search"</li>
  </ul>

  <h2>Images</h2>
  <ul>
    <li>![alt text](/path/to/image.jpg "Title")</li>
  </ul>
  <ul>
    <li>![alt text][id]</li>
  </ul>
  <ul>
    <li>[id]: /path/to/img.jpg "Title"</ul>
  </ul>

  <h2>Block quotes</h2>
  <ul>
    <li>&gt; Block quote</li>
  </ul>

  <h2>Code</h2>
  <ul>
    <li>Some inline code: `<blink>hello</blank>` here.</li>
  </ul>
  <ul>
    <li><i>(tab)</i>code block</li>
    <li><i>(tab)</i>code block</li>
  </ul>
  <ul>
    <li>(4 spaces)code block</li>
    <li>(4 spaces)code block</li>
  </ul>
</div>